<div *ngIf="book">
  <h2>{{ book.title | uppercase }} Details</h2>
  <div><span>id: </span>{{ book.book_Id }}</div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Book title:</span
      >
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      id="book-title"
      [(ngModel)]="book.title"
      placeholder="title"
    />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Book author:</span
      >
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      id="book-author"
      [(ngModel)]="book.author"
      placeholder="author"
    />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Book price:</span
      >
    </div>
    <input
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      id="book-price"
      [(ngModel)]="book.price"
      placeholder="pirce"
    />
  </div>

  <button type="button" *ngIf="isLoggedIn" (click)="save()">save</button>
  <button type="button" (click)="goBack()">go back</button>
</div>
