<h2>My Books</h2>

<a
  type="button"
  *ngIf="isLoggedIn"
  class="btn btn-primary"
  routerLink="/books/create"
  >Add</a
>

<ul class="list-group">
  <li
    *ngFor="let book of books"
    class="list-group-item d-flex justify-content-between"
  >
    <a routerLink="/detail/{{ book.book_Id }}">
      <span class="badge">{{ book.book_Id }}</span>
      {{ stringLength(book.title) }}
    </a>
    <button
      *ngIf="isLoggedIn"
      type="button"
      class="delete"
      title="delete book"
      (click)="delete(book)"
    >
      x
    </button>
  </li>
</ul>

<app-book-detail [book]="selectedBook"></app-book-detail>
